.class1 {
  font-size: 21px; }

.class2 {
  font-size: 22px; }

.class3 {
  font-size: 23px; }

.class4 {
  font-size: 24px; }

.class5 {
  font-size: 25px; }

.class6 {
  font-size: 26px; }

.class7 {
  font-size: 27px; }

.class8 {
  font-size: 28px; }

.class9 {
  font-size: 29px; }

.class10 {
  font-size: 30px; }

.class11 {
  font-size: 31px; }

.class12 {
  font-size: 32px; }

.class13 {
  font-size: 33px; }

.class14 {
  font-size: 34px; }

.class15 {
  font-size: 35px; }

.class16 {
  font-size: 36px; }
