body {
  font-size: 40px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 100%; }

.class1, .class2, .class3, .class4 {
  border: 2px solid #201255;
  background-color: #201255;
  color: #fff;
  width: 25%;
  float: right;
  padding: 10px;
  border: 2px solid #201255; }

.class2 {
  font-size: 40px; }

.class2:hover {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transform: translateY(50px);
          transform: translateY(50px); }

.class3 {
  font-size: 23px; }
  .class3 .class3a {
    color: #fff;
    background-color: #201255; }
    .class3 .class3a :hover {
      background-color: #F3fF; }
  .class3 :hover {
    background-color: yellowgreen; }
  .class3:hover {
    background-color: teal;
    color: white; }

.class4 {
  font-size: 40px; }
