h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 10; }

header {
  font-size: 16px; }

nav {
  font-size: 18px; }

main {
  font-size: 20px; }

aside {
  font-size: 22px; }

footer {
  font-size: 24px; }
