

// I import hte _file so each properties will apply here
@import "_file";

$mainColor:#fff;
$mainBackgroundColor:rgb(32, 18, 85);
$borderColor:rgb(32, 18, 85);
$fontFamily:"Times New Random";
$padding:10px;
$margin:10px;
$fontSize:20px;
$width:100%;
$numberOfElement:4;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: $width;
}

// I use this symbol '%' when I want to use the class just in extend property and not in the HTML and this symbol names placeholder
%mainClass{
    border: 2px solid $borderColor;
    background-color:$mainBackgroundColor;
    color: $mainColor;
    width: $width/$numberOfElement;
    float: left;
    padding: $padding;
    border: 2px solid $borderColor;

}

@mixin ApplyTransition($type,$duration,$effect) {
    transition:$type $duration $effect;
    -webkit-transition:$type $duration $effect;
    -moz-transition:$type $duration $effect;
    -o-transition:$type $duration $effect;
}

.class1{
    @extend %mainClass;

    
} 
.class2{
    @extend %mainClass;
    font-size: $fontSize*2;
}

.class2:hover{
    @include ApplyTransition(all,1s,ease-in-out);
    transform: translateY(50px);
}

.class3{
    @extend %mainClass;

    font-size: $fontSize+3;

    .class3a{
        color: $mainColor;
        background-color: $mainBackgroundColor;
    }
}

.class4{
    @extend %mainClass;

    font-size: $fontSize*2;

}