$mainColor:#fff;
$mainBackgroundColor:rgb(32, 18, 85);
$borderColor:rgb(32, 18, 85);
$fontFamily:"Times New Random";
$padding:10px;
$margin:10px;
$fontSize:20px;
.class1{
    background-color:$mainBackgroundColor;
    color: $mainColor;
    padding: $padding;
    margin: $margin;
} 
.class2{
    border: 10px solid $borderColor;
}

.class3{
    font-size: $fontSize;   
    border: 1px solid $borderColor;
    
    .class3a{
        color: $mainColor;
        background-color: $mainBackgroundColor;
    }
}

.class4{
    font-family: $fontFamily;
}