$mainColor:#fff;
$mainBackgroundColor:rgb(32, 18, 85);
$borderColor:rgb(32, 18, 85);
$fontFamily:"Times New Random";
$padding:10px;
$margin:10px;
$fontSize:20px;
$width:100%;
$numberOfElement:4;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: $width;
}
.class1{
    font-size: $fontSize+3;
    padding: $padding;
    border: 2px solid $borderColor;
    background-color:$mainBackgroundColor;
    color: $mainColor;
    width: $width/$numberOfElement;
    float: left;
    padding: $padding;

} 
.class2{
    font-size: $fontSize*2;

    border: 2px solid $borderColor;
    padding: $padding;
    background-color:$mainBackgroundColor;
    color: $mainColor;
    width: $width/$numberOfElement;
    float: left;

}

.class3{
    font-size: $fontSize+3;

    background-color:$mainBackgroundColor;
    color: $mainColor;
    width: $width/$numberOfElement;
    float: left;
    border: 2px solid $borderColor;
    padding: $padding;

    .class3a{
        color: $mainColor;
        background-color: $mainBackgroundColor;
    }
}

.class4{
    padding: $padding;
    font-size: $fontSize*2;
    
    border: 2px solid $borderColor;
    background-color:$mainBackgroundColor;
    color: $mainColor;
    width: $width/$numberOfElement;
    float: left;
}